@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-icon {
  position: absolute;
  right: 55px;
  bottom: 11px;
  font-size: larger;
  font-weight: 500;
  color: darkviolet;
}
